@{
    ViewBag.Title = "About";
}
<div class="mainbg">
<h2>Galatic Trade Wars</h2>
<p>
     Using a series of left over gates from "The Builders" explore the galaxy.  Build a commercial empire via trading. Build a vast armada via conquest.  Build an empire to last forever.
</p>
    <p>
        About Cylentware -> A team of developers and designers building new web based multiplayer games for fun and profit using the microsoft code stack.
    </p>
    </div>
<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>