@{
    ViewBag.Title = "Contact Us";
}
<div class="mainbg">
<h2>Contact Us with questions.  Email cboyer at this domain name.</h2>

    </div>
<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
</ul>